@import '../../common/Variables.scss';

.header {
	background-color: $primary-color;
	position: relative;
	padding: 0 30px;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__anchor {
		width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		width: 100%;
	}
	&__nav {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-color;
	}
}

.selected {
	color: $light-color;
	text-shadow: 0 0 3px $light-color;
  text-decoration: underline;
}